<div class="home">
  <header class="container-fluid">
    <div class="row">
      <div class="col-xs-1">
        <figure>
          <img src="http://placehold.it/300x300" alt="">
        </figure>
      </div>

      <div class="col-xs-3 col-xs-offset-8 user-box">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-6 user-name">
              <a href="">{{ Home.user.name }}</a>
              <a href="" ng-click="Home.logoff()">logoff</a>
            </div>
            <figure class='col-xs-6 user-img'>
              <img src="http://placehold.it/300x300" alt="">
            </figure>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-tabs">
          <li role="presentation" ng-class="{active: Home.dado == 'Consumo'}"><a href="" ng-click="Home.changeDado('Consumo')">Consumo</a></li>
          <li role="presentation" ng-class="{active: Home.dado == 'Tensão'}"><a href="" ng-click="Home.changeDado('Tensão')">Tensão</a></li>
          <li role="presentation" ng-class="{active: Home.dado == 'Corrente'}"><a href="" ng-click="Home.changeDado('Corrente')">Corrente</a></li>
          <li role="presentation" ng-class="{active: Home.dado == 'Potência'}"><a href="" ng-click="Home.changeDado('Potência')">Potência</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div class="gray-bg">
    <div id="main-chart"></div>
    <!-- <highchart id="chart-live" config="Home.chartConfig" style="width: 100%;"></highchart> -->
  </div>
</div>
